<div class="form-group input-group">
    <button type="button" class="btn btn-outline-primary input-group-addon" (click)="onClick($event)">
        {{btnText}}
    </button>

    <input class="form-control" #inpt [ngModel]="this.useStream ? (value | number: format) : value" (keyup)="onChange(inpt.value)"
           [ngClass]="{'disabled': locked===true}" [disabled]="locked"/>
</div>




