<div class="input-group">
    <span *ngIf="beforeText" class="input-group-addon">{{beforeText}}</span>
    <input value="{{stream$ ? (stream$ | async) : (value | number: format)}}" type="text" class="form-control" placeholder="Price" [ngClass]="{'disabled': locked===true}" [disabled]="locked">
    <span *ngIf="afterText" class="input-group-addon">{{afterText}}</span>
</div>
