@(user: models.User)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@main(Messages("home.title"), Some(user)) {
        <div class="ng-app-cryptolab col-md-12">
            <link rel="stylesheet" href="@routes.Assets.at("ui/styles.bundle.css")"/>

            <app-root>Loading...</app-root>

            <script src="@routes.Assets.at("ui/inline.bundle.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("ui/polyfills.bundle.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("ui/vendor.bundle.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("ui/main.bundle.js")" type="text/javascript"></script>
        </div>
}
