/* You can add global styles to this file, and also import other style files */


.ng-app-cryptolab {
  all: initial; /* blocking inheritance for all properties */

// <this is common for both builds>
  @import "bootstrap/bootstrap";
  @import "spinner";
  @import "utils";
  @import "rtl";
  @import "responsive";
// </this is common for both builds>


}

.ng-app-cryptolab * {
  all: unset; /* allowing inheritance within #mydiv */
}
